[Desktop Entry]
Type=Application
Name=Jotter
GenericName=Jotter
Comment=Plain markdown notes in the terminal
Exec=jotter
Icon=jotter
Terminal=true
Categories=Utility;TextEditor;ConsoleOnly;
Keywords=notes;markdown;memo;jot;jotter;
